*{
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
     -khtml-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none;
}

body{
    display: grid;
    grid-template-columns: 1fr;
    background-image: url(background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}

.container,header{
    display: flex;
    justify-content: center;
    color: white;
}

.calculator{
    box-shadow: 3px 3px 10px 0 #0000004d;
    border: 1px solid black;
    background-color: white;
    height: fit-content;
    display: flex;
}

table{
    height: 100%;
    width: 100%;
    border-collapse: separate;
    border-spacing: 10px;
}

button{
    text-align: center;
    border-style: none;
    font-size: 1.5em;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
}

.operator, .clear, .equal{
    background-color: #d7dbda;
}

td{
    width: 60px;
    height: 60px;
    margin: 10px;
}

#result{
    font-size: 2.5em;
    color: black;
    text-decoration: none;
    text-align: end;
    width: 100%;
    height: 100%;
    border-style: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid black;
}

#history{
    font-size: 1em;
    color: gray;
    text-decoration: none;
    text-align: end;
    width: 100%;
    height: 100%;
    border-style: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid black;
}

.button:focus, #result:focus, #history:focus{
    outline: 0;
}

.button:active{
    font-size: 1em;
} 

.number:active, #decimal:active{
    background-color: #E8B74B;
}

.equal:active{
    background-color: lightseagreen;
}

.operator:active{
    background-color: lightsalmon;
}

.clear:active{
    background-color: #BB3619;
}